html {
  background: linear-gradient(to right, #006699 0%, #66ffff 100%);
}

h1,h2 {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  margin: auto;
  text-align: center;
  padding: 20px;
}

div {
  color: white;
}

p {
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 35px;
  font-family: 'Titillium Web', sans-serif;
}

.wrapper {
  padding: 20px;
  display: grid;
  margin: auto;
  width: 270px;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}

.wrapper > div {
  border: 2px solid white;
}

.centered-text {
  color: white;
  margin: auto;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

button {
  height: 40px;
  width: 40px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  color: #006699;
}
