html {
  background-color: gray;
}

h1 {
  color: white;
  font-family: "Arial";
  margin: auto;
  text-align: center;
  padding: 20px;
}

div {
  color: white;
}

p {
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 35px;
}

.wrapper {
  padding: 20px;
  display: grid;
  margin: auto;
  width: 270px;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}

.wrapper > div {
  border: 2px solid white;
}
